pystan==2.7
Cython==0.19
NumPy==1.7
PyYAML==3.11
Pygments==2.0.2
colorlog==2.6.0
decorator==4.0.4
docutils==0.12
gnureadline==6.3.3
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
msgpack-python==0.4.6
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
sphinx-rtd-theme==0.1.9
sphinxcontrib-programoutput==0.8
